.header
    width: 100%
    padding: 15px 0
    max-width: 516px
    margin: 0 auto 35px
    position: relative
    z-index: 999
    .soc
        gap: 16px

    .logo 
        max-width: 102px

.menu
    display: block
    position: fixed
    top: 0
    right: 0
    background-color: #fff
    width: 100%
    max-width: 60%
    height: 100vh
    padding: 80px 20px 20px
    border-radius: 20px 0 0 20px
    box-shadow: -4px 4px 0 0 #000
    transition: all ease .5s
    transform: translateX(110%)

    a
        font-family: "Sigmar One", system-ui
        color: #000
        font-size: 22px
        font-weight: 500
        display: block
        padding: 5px
        // border-bottom: 1px solid rgba(0, 0, 0, .1)
        &::first-letter
            text-transform: uppercase

    &.active
        transform: translateX(0)

    &__btn
        z-index: 9999
        display: inline-block
        position: relative
        width: 30px
        height: 30px
        margin: 0
        &:hover
            opacity: 1
        span
            position: absolute
            top: 50%
            left: 20%
            margin-top: -1.5px
            display: block
            width: 69%
            height: 2.5px
            transition: all ease .3s
            border-radius: 2px
            background-color: #000
            &::before,
            &::after
                content: ''
                display: block
                width: 100%
                height: 2.5px
                background-color: #000
                position: absolute
                top: 7px
                right: 0
                transition: all ease .3s
                border-radius: 2px

            &::after
                top: -7px
                left: 0

        &.active
            span
                transform: rotate(-45deg)
                &::before
                    background-color: transparent

                &::after
                    top: 50%
                    transform: rotate(-90deg)
